body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    margin: 0;
}

/* #bloc_page
{
    width: 900px;
    margin: auto;
} */

/* Header */

header
{
    background-color: rgb(98,117,127);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-nav
{
    width: 100%;
}


.logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo img
{
    width: 50%;
    height: 50%;
}

/* Navigation */

nav
{
    display: flex;
    justify-content: center;
}

nav ul
{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}

nav a
{   
    font-size: 1.3em;
    color:white;
    padding-bottom: 3px;
    text-decoration: none;
    text-align: center;
}

li
{
    display: inline-block;
    margin-left: 20px;
}

/* img {
	max-width: 100%;
	height: auto;
} */


/*-----The best film------*/
.bestFilmBody {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* .bestFilmImage {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
} */

.bestFilmImage img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: auto;
}

.bestFilmBody .titleBestFilm {
  z-index: 1;
  position: absolute;
  /* text-align: center; */
  font-size: 1.5em;
  font-style: italic;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  color: white;
  width: 70%;
}

.titleBestFilm {
  display: flex;
  align-items: space-between;
}

.titleBestFilm p {
margin-right: 5px;
}

.titleBestFilm img {
  cursor:pointer;
  }

/* .theBestFilm {
	max-width: 30%;
	height: auto;
} */


/*------ Sections------*/
.visuals
{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


#Note1, #Note2, #Note3, #Note4, #Note5, #Note6, #Note7 {
  font-style: italic;
  font-size: 12px;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}


/* -----Carousel 3------ */
/* Hide the images by default */
.mySlides {
  display: none;
}

/*-----Modal------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-core {
  display: flex;
}

.imagefilm {
  width: 100%;
  max-width: 10px;
  height: auto;
}

/* #genre #date #rated #score #director #actors #duration #country #boxOffice #resume {
  margin-top: 5px;
} */

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: rgb(98,117,127);
  color: white;
}

#title {
  display: block;
  font-size: 1.5em;
  /* margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  font-weight: bold;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

.modal-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 4px;
}

.space-film {
  display: flex;
  justify-content: center;
}

/* Modal Footer */
.modal-footer p {
  /* padding: 2px 2px; */
  background-color: rgb(98,117,127);
  color: white;
  font-style: italic;
  margin: 0px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation Modal*/
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


/* For mobile phones:  source media query w3 schools css responsive design*/
@media only screen and (max-width: 767px) {  /* on met 767 et non 768 pour que l'ipad qui est à 768 reste en format PC */

    .logo {
        max-width: 30%;
        height: auto;
    }

    header
    {
    flex-direction: column;
    align-items: center;
    }

    nav a
    {   
    align-items: center;
    font-size: 1em;
    padding-right: 10px;
    padding-left: 10px;
    }

    .header-nav
    {
        align-items: center;
    }

    li
    {
        margin-left: 0px;
    }

    /* Caption text */
    .text {
      font-size: 0.8em;
    }

    /*---MODAL----*/
    .modal-core {
    width: 100%;
    flex-direction: column;
    align-items: center;
    }

    .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .modal-header {
    width: 90%;
    }

    .modal-text {
        font-size: 0.8em;
    }
    .modal-footer {
        width: 100%;
    }

    /*---- The best film----*/
    .titleBestFilm p {
      font-size: 0.8em;
    }

    .bestFilmBody{
      max-height: 100px;
    }

    /* .image-film {
        width: 50%;
        height: auto;
    } */
}